<head>
		{% load static %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<!--link rel="icon" href="../../../../favicon.ico"-->
		<title>Dashboard Template for Bootstrap</title>
		<!-- Bootstrap core CSS -->
		<link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/css/multi-select.css' %}">
		<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
		<!-- Bootstrles for this template -->
		<link href="{% static '/css/dashboard.css' %}" rel="stylesheet">
		<link href="{% static '/css/amchart.css' %}" rel="stylesheet">
</head>

	<body>
    {{ form }}

	<div>
	<!-- start -->
  	<h1>Callbaks</h1>
  	<select id='callbacks' multiple='multiple'>
  	<option value='elem_1'>elem 1</option>
  	<option value='elem_2'>elem 2</option>
  	<option value='elem_3'>elem 3</option>
  	<option value='elem_4'>elem 4</option>
  	<option value='elem_100'>elem 100</option>
	</select>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!--<script>window.jQuery || document..write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>-->
	<script src="{% static '/js/bootstrap.min.js' %}"></script>
	<script src="{% static '/js/jquery.multi-select.js' %}"></script>
	<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
	<script src="https://www.amcharts.com/lib/3/serial.js"></script>
	<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
	<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
	<script type="text/javascript">
  // run callbacks
      $('#callbacks').multiSelect({
      afterSelect: function(values){
        alert("Select value: "+values);
      },
      afterDeselect: function(values){
        alert("Deselect value: "+values);
      }
    });
  </script>
</body>

</html>
